@import './../../assets/styles/theme.less';

.rsch-face-slogan {
    margin-top: 16px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    line-height: 3.6em;
}

.rsch-face-service {
    line-height: 8.0em;
}

.rsch-face-address-availability, .rsch-face-chat {
    margin-top: 16px;
}

.rsch-face-service-detail, .rsch-face-step-detail {
    margin-top: 60px;
    margin-bottom: 90px;
}

.rsch-face-service-description {
    padding: 16px;
    text-align: center;
}

.ant-divider-inner-text {
    color: @primary-color;
}
