{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react"
    ],
    "plugins": [
        ["@babel/plugin-proposal-decorators", { "legacy": true }],
        ["import", {
            "decoratorsBeforeExport": true,
            "libraryName": "antd",
            "style": true
        }],
        ["@babel/plugin-proposal-class-properties", { "loose" : true }],
    ],
    "env": {
        "test": {
            "plugins": []
        }
    }
}