@import './../../../assets/styles/theme.less';

.ant-layout-header {
    padding: 0px 24px;
    background: inherit;
    border-style: solid;
    border-color: @normal-color;
    border-width: 0px 0px 1px 0px;
}

.ant-btn {
    // border-color: transparent;
    border-radius: 16px;
    // background-color: @base-color;
    // box-shadow: 0 3px 4px 0 rgba(0,0,0,0.2), 0 3px 3px -2px rgba(0,0,0,0.14), 0 1px 8px 0 rgba(0,0,0,0.12);
}

.rsch-brand {
    font-size: 22px;
    font-weight: bold;
    color: @black-color;
}
